####################################################################
#
#                 terrain configuration
#
#  IMPORTANT NOTES: each line that starts with a '#' is a
#                   remark line and ignored by the parser
#                   each data line consists of two parts:
#                   *) the name of the property
#                   *) the value of the property
#
#                   some properties consist of more than one
#                   part (such as 'TerrainSize'). in such cases
#                   all parts have to be seperated by spaces only
#                   (no commas, no semicolons, etc...)
#


#BenchmarkFile maps/gamescene/bench_01


#  set the initial position and direction of the camera
#
CameraPos 10000 10000 20000
CameraDir 292 0 0


MipmapFilter POINT


#ShowInfos no


#  set Near and Far clipping plane
#
ClippingPlanes 100 100000


#  set this value to yes to enable the skybox
#
#Skybox yes


#  basename of the skybox images
#  the images must be named 'SkyboxBaseName' + _ft etc...
#
SkyboxBaseName maps/gamescene/skybox/skybox


#  set this value to yes to enable the lensflare
#
#Lensflare yes


#  defines the position of the lens flase
#  IMPORTANT: in order that the lens flare stays fixed at
#             one position on the cube map it must be positioned
#             on the cube! the cube goes from (-1000,-1000,-1000)
#             to (1000,1000,1000).
#             valid positions are e.g.:
#             (600,400,1000) or (-1000,300,900)
#             invalid positions:
#             (300,400,200) or (-1000,1300,400)
#
LensflarePos 1000 400 600


#  defines the intensity of the lens flare
#  0.0 means invisible (wasting resources since turning off
#  is more usefull...) and 1.0 means full effect.
#
LensflareIntensity 0.7


#  set the name of the heightmap file (without extension) and size
#
HeightMap maps/mountains/heightmap


#  defines the size of the heightmap
#  (of course this must correspond to the data in the heightmap file)
#
#  IMPORTANT: the lightmap must be save in unsigned 8-bit and
#             with squared size: 2^n+1 (and at least 17*17)
#             e.g.: 17*17, 33*33, 65*65, 129*129, 257*257, 513*513, ...
#
HeightMapSize 257 257


#  defines a PVS data set. if this setting is not present,
#  no pvs calculation is done.
#
PVSName maps/mountains/heightmap


#  set the size of the terrain
#  (second value is height)
#
TerrainSize 64000 25000 64000



#  sets the error boundaries in logical coordinates
#  the complete render view has a height of 2.0
#
MaxTerrainError 0.005


#  set the names of the various passes' textures
#  (all without extension)
#
BasePassTexture		maps/mountains/baseColor
BasePassLightmap	maps/mountains/baseLight
BaseRepeat		32 32


Pass1Texture		maps/mountains/pass1Color
Pass1Lightmap		maps/mountains/pass1Light
Pass1Repeat		15 15

Pass2Texture		maps/mountains/pass2Color
Pass2Lightmap		maps/mountains/pass2Light
Pass2Repeat		10 10

#  add more passes (up to 5 passes at all) if you like to...


#  add some Trees
#  (TreeMap must be same size as Heightmap)
#
#TreeMap terrain/v2Trees
#TreeName0 terrain/tree


#  sets a skymap which is projected onto the terrain
#
#Clouds texture/clouds
CloudsRepeat 1.5 1.5
CloudsSpeed -0.025 0.015


# choose between: UNIFIED SPLIT MORPH_SW MORPH_SW2 MORPH_HW
#
RenderMode MORPH_HW
